---
interface Props {
  position: "left" | "right";
  date: string;
  company: string;
  role: string;
  content: string;
  technologies: string;
  url?: string;
}

const { position, company, content, date, role, technologies, url } =
  Astro.props;

const borderClass = position == "left" ? "border-r-2 border-dashed" : "";
---

<div class="w-full flex">
  {
    position == "right" ? (
      <div class="flex-1 max-w-1/2 border-r-2 border-dashed" />
    ) : null
  }

  <div
    class=`work-position ${position} flex flex-col ${borderClass} border-black p-3 flex-1 max-w-1/2 `
  >
    <div
      class="hover:outline-black hover:outline-3 info-card rounded-md p-2 max-w-md hover:cursor-pointer"
      data-url={url}
    >
      <div><b>{company}</b> - <em>{role}</em></div>
      <div>{date}</div>
      <div>
        {content}
      </div>
      <div><b>Technologies</b>: {technologies}</div>
    </div>
  </div>

  {position == "left" ? <div class="flex-1 max-w-1/2" /> : null}
  <script>
    const cards = document.querySelectorAll("div.info-card");

    // Handle clicks on each button.
    cards.forEach((card) => {
      const htmlCard = card as HTMLElement;
      card.addEventListener("click", () => {
        if (htmlCard.dataset.url) window.open(htmlCard.dataset.url, "_blank");
      });
    });
  </script>

  <style>
    @reference "tailwindcss";
    .work-position {
      position: relative;
    }

    .work-position:hover.right::after {
      animation: bounce 1s infinite;
      width: 15px; /* circle size */
      height: 15px;
      border: black solid 4px;
      background: white;
      left: -8px; /* distance from left */
    }
    .work-position:hover.left::after {
      animation: bounce 1s infinite;
      width: 15px; /* circle size */
      height: 15px;
      right: -8px; /* distance from left */
      border: black solid 4px;
      background: white;
    }

    .right {
      align-items: flex-start;
      &::after {
        content: "";
        position: absolute; /* keep it always visible */
        top: 15px; /* distance from top */
        left: -6px; /* distance from left */
        width: 10px; /* circle size */
        height: 10px;
        background: black; /* any color */
        border-radius: 50%; /* makes it a circle */
        transition: transform 0.3s ease;
        z-index: 9999; /* above other elements */
      }
    }
    .left {
      align-items: flex-end;

      &::after {
        content: "";
        position: absolute; /* keep it always visible */
        top: 15px; /* distance from top */
        right: -6px; /* distance from left */
        width: 10px; /* circle size */
        height: 10px;
        background: black; /* any color */
        border-radius: 50%; /* makes it a circle */
        z-index: 9999; /* above other elements */
        transition: transform 0.3s ease;
      }
    }

    @keyframes bounce {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }
  </style>
</div>
